{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="row justify-content-center text-center mt-5">
    <div class="col-md-8">
        <img src="{{ url_for('static', filename='Escudo-Color.png') }}" alt="Logo UNISON" style="width: 150px; height: auto;" class="mb-4">

        <h1 class="display-5 fw-bold text-primary">¡Bienvenido!</h1>
        <p class="lead mb-4">
        </p>

        <h3 class="mt-5 mb-3 text-secondary">Integrantes del Equipo</h3>
        <ul class="list-group mx-auto" style="max-width: 300px;">
            {% for member in team_members %}
            <li class="list-group-item">{{ member }}</li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('listar_notas') }}" class="btn btn-lg btn-success mt-5">Ver Mis Notas</a>
    </div>
</div>
{% endblock %}
#index html